<section class="benefits">
  <ul class="benefits-list">
    <li class="benefits-list-item">
      <svg class="benefits-list-icon" width="35" height="35">
        <use href="../img/symbol-defs.svg#icon-university"></use>
      </svg>
      <p class="benefits-list-caption">Investmant Banking</p>
      <p class="benefits-list-text">
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Consequatur,
        necessitatibus!
      </p>
    </li>
    <li class="benefits-list-item">
      <svg class="benefits-list-icon" width="35" height="35">
        <use href="../img/symbol-defs.svg#icon-pencil-alt"></use>
      </svg>
      <p class="benefits-list-caption">Portfolio Manager</p>
      <p class="benefits-list-text">
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Consequatur,
        necessitatibus!
      </p>
    </li>
    <li class="benefits-list-item">
      <svg class="benefits-list-icon" width="35" height="35">
        <use href="../img/symbol-defs.svg#icon-book-reader"></use>
      </svg>
      <p class="benefits-list-caption">Tax & Custudio</p>
      <p class="benefits-list-text">
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Consequatur,
        necessitatibus!
      </p>
    </li>
  </ul>
</section>
