<section class="blog-post-one">
  <div class="container">
    <div class="blog-post-thumb">
      <!-- <img
        src="./img/images_blog-post/blog_img.jpg"
        alt="notebook and coffee"
        class="blog-post-img"
      /> -->
    </div>
    <div class="blog-post-text">
      <p class="blog-post-one-date">April 16 2020</p>
      <h2 class="blog-post-one-title">Blog Post One</h2>
      <p class="blog-post-one-text">
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Voluptate,
        ipsum dignissimos quae laudantium asperiores nam aliquid impedit harum
        illum dolore explicabo ab dolores itaque rerum temporibus doloribus iste
        maiores deleniti?
      </p>
      <a class="blog-post-one-link" href="#">Read Our Blog</a>
    </div>
  </div>
</section>
