<section class="callback">
  <img src="../img/callback/Rectangle.jpg" alt="manager" width="680px" class="callback-manager">
  <div class="container-form">
    <h2 class="second-title">Request Callback</h2>
    <form class="callback-form">

      <label for="name"></label>
      <input type="text" name="your-name" id="name" placeholder="Enter your name" class="callback-input">


      <label for="mail"></label>
      <input type="email" name="your-mail" id="mail" placeholder="Enter email*" class="callback-input">
      <button type="submit" class="callback-btn">Send</button>

    </form>
  </div>
</section>