<section class="cases">
  <p class="paragraf">This is what we do</p>
  <h2 class="hed">Business Cases</h2>
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Architecto,
    sapiente
  </p>
  <ul class="img">
    <li><img src="/imges-casas/Rectangle (1).jpg" alt="" width="320" /></li>
    <li><img src="/images/Rectangle.jpg" alt="images" width="320" /></li>
    <li><img src="/images/Rectangle.jpg" alt="images" width="320" /></li>
    <li><img src="./images/Rectangle.jpg" alt="images" width="320" /></li>
    <li><img src="./images/Rectangle.jpg" alt="images" width="320" /></li>
    <li><img src="./images/Rectangle.jpg" alt="images" width="320" /></li>
    <li><img src="./images/Rectangle.jpg" alt="images" width="320" /></li>
    <li><img src="./images/Rectangle.jpg" alt="images" width="320" /></li>
  </ul>
</section>
