<header class="header">
  <div class="hero">
  <nav class="page-nav">
    <svg class="hero-icon" aria-label="icon-logo" width="39" height="35">
      <use href="../img/header/logo.svg"></use>
    </svg>
    <a href="">Finance Ledger</a>
    <ul class="menu">
      <li>
        <a href="">Home</a>
      </li>
      <li>
        <a href="">About</a>
      </li>
      <li>
        <a href="">Cases</a>
      </li>
      <li>
        <a href="">Blog</a>
      </li>
      <li>
        <a href="">Contact</a>
      </li>
    </ul>
  </nav>
</div>
</header>
