<section class="solution">
  <div>
<img src="" alt="">
  </div>
  <div></div>
  <p class="solution-what">What you are looking for</p>
  <h2 class="solution-title">We provide bespoke solutions</h2>
  <p class="soluttion-description">
    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Voluptate, ipsum
    dignissimos quae laudantium asperiores nam aliquid impedit harum illum
    dolore explicabo ab dolores itaque rerum temporibus doloribus iste maiores
    deleniti?
  </p>
</div>
  <button class="solution-btn" type="button">Read More</button>
</section>
