<section class="team">
  <div class="our-professional-team">
    <p class="team-p">Who we are</p>
    <h2 class="title">Our Professional Team</h2>
    <p class="team-p">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Architecto,
      sapiente!
    </p>
    <ul class="team-img">
      <li class="team-list">
        <img src="../img/team/john-doe.jpg" alt="photo John Doe " />
        <div class="team-list-text">
          <h3 class="team-list-name">John Doe</h3>
          <p class="team-list-position">President</p>
        </div>
      </li>
      <li class="team-list">
        <img src="../img/team/jane-doe.jpg" alt="photo Jane Doe " />
        <div class="team-list-text">
          <h3 class="team-list-name">Jane Doe</h3>
          <p class="team-list-position">Vice President</p>
        </div>
      </li>
      <li class="team-list">
        <img src="../img/team/steve-smith.jpg" alt="photo JSteve Smith " />
        <div class="team-list-text">
          <h3 class="team-list-name">Steve Smith</h3>
          <p class="team-list-position">Marketing Head</p>
        </div>
      </li>
    </ul>
  </div>
</section>
